<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="https://secure-sso-sso-72.ge-apps.openhybridcloud.io/auth/admin/master/console/#/realms/github-sso">RH SSO</a>
                
              </nav>
          
              <main role="main">
          
                <!-- Main jumbotron for a primary marketing message or call to action -->
                <div class="jumbotron">
                  <div class="container">
                    <h1 class="display-3">My Login Platform</h1>
                    <p>Interact with RH SSO to secure your applications  </p>
                    <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a></p>
                  </div>
                </div>
          
                <div class="container">
                  <!-- Example row of columns -->
                  <div class="row">
                    <div class="col-md-4">
                      <h2>JWT</h2>
                      <div class="content">
                        <pre id="output">
                        {{jwt}}
                            </pre>
                    </div>
                    <p><a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a></p>
                </div>
                    <div class="col-md-4">
                      <h2>User Info</h2>
                      <div class="content">
                            <pre  id="output">
                             <p> {{user}} </p>   
                           
                                </pre>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <h2>GitHub Repos</h2>
                            <div class="content">
                              <pre  id="output">
                              <p> {{repos}} </p>
                                  </pre>
                          </div>
                    </div>
                  </div>
          
                  <hr>
          
                </div> <!-- /container -->
          
              </main>
          
              <footer class="container">
                <p>&copy; Company 2017-2018</p>
              </footer>
          

<script src="../node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>